@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

:root {
  --header-height: 3rem;

  --first-color: #3664f4;
  --dark-color: #070d1f;
  --dark-color-alt: #282b3a;
  --white-color: #fbfbfb;

  --body-font: 'Noto Sans TC', sans-serif;

  --font-medium: 400;
  --font-semibold: 500;
  --font-bold: 700;

  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;

  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/* =============== BASE SETTINGS =============== */

*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
  background-color: var(--white-color);
  line-height: 1.6;
}

h1, h2, h3, p, ul {
  margin: 0;
}

h3 {
  font-weight: var(--font-semibold);
}

p, span {
  font-weight: var(--font-medium);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* =============== CLASS SETTINGS =============== */

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.section {
  padding: 4rem 0 2rem;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--dark-color);
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: 0.25rem;
}

/* =============== HEADER =============== */

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1.5rem;
  background-color: var(--dark-color);
  z-index: var(--z-fixed);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: var(--white-color);
}

.header-toggle {
  font-size: var(--h1-font-size);
  color: var(--white-color);
  cursor: pointer;
}

/* =============== NAV =============== */

@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--dark-color);
    color: var(--white-color);
    width: 100%;
    height: 100vh;
    padding: 1.5rem 0;
    z-index: var(--z-fixed);
    transition: 0.5s;
  }
}

.nav-content {
  height: 100%;
  grid-template-rows: max-content 1fr max-content;
  row-gap: 2rem;
}

.nav-close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: 0.25rem;
  background-color: var(--dark-color-alt);
  border-radius: 50%;
  cursor: pointer;
}

.nav-img {
  display: flex;
  justify-content: center;
  margin-bottom: 0.8rem;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.nav-name, .nav-link, .nav-social-icon {
  color: var(--white-color);
}

.nav-name {
  display: block;
}

.nav-profession {
  font-size: var(--small-font-size);
}

.nav-menu {
  align-self: center;
}

.nav-item {
  margin: var(--mb-3) 0;
}

.nav-social {
  padding-top: 0.2rem;
}

.nav-social-icon {
  font-size: 1.2rem;
}

.nav-social-icon:not(:last-child) {
  margin-right: var(--mb-2);
}

.nav-social-icon:hover {
  color: var(--first-color);
}

/* =============== DISPLAY =============== */

.show {
  left: 0;
}

.active {
  color: var(--first-color);
}

/* =============== SLIDESHOW =============== */

.slideshow-img {
  width: 100%;
  height: 15rem;
}

.swiper-button-next::after, .swiper-button-prev::after {
  content: '';
}

.swiper-pagination-bullet-active {
  background-color: var(--white-color);
}

.swiper-portfolio-icon {
  font-size: 2rem;
  color: var(--white-color);
}

/* =============== 關於我們、奉獻支持 =============== */

.info-container {
  row-gap: 2rem;
}

.info-data {
  text-align: center;
}

.info-description {
  margin-bottom: var(--mb-4);
}

.info-img {
  width: 100%;
  border-radius: 0.5rem;
  margin: 0 auto;
}

.info-information-title {
  font-size: var(--h3-font-size);
  color: var(--dark-color);
  margin-bottom: var(--mb-2);
}

.info-information-data {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: var(--mb-3);
}

.info-information-icon {
  font-size: 1.2rem;
  color: var(--first-color);
  margin-right: var(--mb-2);
}

.info-information-subtitle {
  display: block;
  font-weight: var(--font-semibold);
}

.info-information-subtitle-small {
  font-size: var(--small-font-size);
}

/* =============== 主日信息、消息分享、課程活動 =============== */

.card-container {
  justify-items: center;
  row-gap: 2rem;
}

.card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}

.card-data {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(21, 39, 96, 0.7);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.card-link {
  display: inline-flex;
  font-size: var(--h1-font-size);
  background-color: var(--white-color);
  color: var(--dark-color);
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-bottom: var(--mb-2);
}

.card-title {
  font-size: var(--h2-font-size);
  color: var(--white-color);
}

.card-img:hover .card-data {
  bottom: 0;
}

/* =============== FOOTER =============== */

.footer {
  padding-top: 2rem;
}

.footer-container {
  row-gap: 3.5rem;
  margin: 0 var(--mb-3);
}

.footer-bg {
  background-color: var(--dark-color);
  padding: 2rem 0 3rem;
}

.footer-title {
  font-size: var(--h1-font-size);
  margin-bottom: 0.25rem;
}

.footer-subtitle {
  font-size: var(--small-font-size);
}

.footer-links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer-link:hover, .footer-social:hover {
  color: var(--first-color);
}

.footer-social {
  font-size: var(--h2-font-size);
  margin-right: var(--mb-2);
}

.footer-copy {
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--white-color);
  margin-top: 3rem;
}

.footer-title, .footer-subtitle, .footer-link, .footer-social {
  color: var(--white-color);
}

/* =============== MEDIA QUERIES =============== */

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .header {
    height: calc(var(--header-height) + 1rem);
  }

  .header-logo, .header-toggle, .nav-close, .nav-profession {
    display: none;
  }

  .nav {
    width: 100%;
  }

  .nav-content {
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: 1fr;
    column-gap: 1rem;
    justify-content: space-between;
  }

  .nav-profile, .nav-list {
    display: flex;
    align-items: center;
  }

  .nav-img {
    width: 32px;
    height: 32px;
    margin-right: var(--mb-1);
    margin-bottom: 0;
    align-items: center;
  }

  .nav-item {
    margin: 0 0.25rem;
  }

  .nav-link {
    padding: 0.5rem 0.8rem;
    border-radius: 0.25rem;
  }

  .active, .nav-link:hover {
    background-color: var(--first-color);
  }

  .active {
    color: var(--white-color);
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}